/Matrix.class
/Network.class
/Parse.class
/WebScraper.class
/WebScraper$1.class
/Language.class
/XOR.class
/CNNMain.class
/ImagePane.class
/CNNMain$1.class
/CNNMain$2.class
/Filter.class
/Pool.class
/CNNMain$3.class
/CNNMain$4.class
/ImageMatrix.class
/ReLU.class
/PoolTest.class
/CNNFrame.class
